:root {
    --primary: #268155ff;
    --secondary: #79d1a5ff;
    --bg: #f4f6f8;
    --white: #ffffff;
}

/* layout */
.dashboard-layout {
    display: flex;
    min-height: 100vh;
    background: var(--bg);
    font-family: Arial, sans-serif;
}

/* sidebar */
.sidebar {
    width: 240px;
    background: var(--primary);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.user-box {
    background: rgba(255,255,255,0.15);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.sidebar nav a {
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    display: block;
    font-weight: bold;
}

.sidebar nav a:hover {
    text-decoration: underline;
}

.logout {
    margin-top: auto;
    color: #ffdddd;
    text-decoration: none;
    font-weight: bold;
}

/* content */
.content {
    flex: 1;
    padding: 40px;
}

.content h1 {
    margin-bottom: 30px;
    color: var(--primary);

}

/* cards */
.cardsf {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    align-items: start;
    min-height: 50px;
    max-height: fit-content;
    width: min-content;
   flex: none;
}
.cardf {
    background: var(--secondary);
    color: white;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}

.cardf h3 {
    margin-bottom: 10px;
}